<!<!DOCTYPE html>
<html>
<head>
  <title>Dmail</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/mvc.js"></script>
  <script type="text/javascript" src="/config"></script>
  <script type="text/javascript" src="/js/demo.js"></script>
</head>
<body>
  <div class="centered">
    <div class="spinner">
      <span>0%</span>
    </div>
    <div class="clearfix"></div>
    
    <div id="status-update">Successfully Connected</div>
    <span id="status-tip">Relax and make a coffee this could take a bit</span>
  </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/connected.js"></script>
</html>