<!<!DOCTYPE html>
<html>
<head>
  <title>Dmail - Simple Historical Gmail analytics</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="/js/jquery.js"></script>
 
  <script type="text/javascript" src="/config"></script>
  <script type="text/javascript" src="/js/demo.js"></script>
  <script type="text/javascript" src="/js/login.js"></script>
</head>
<body>
<div class="centered">
  <h2>Dmail.io</h2>
  Simple Historical Gmail analytics
  <div class="links">
    <button class="btn btn-primary btn-connect" onClick='login();' >Connect Your Gmail For Demo</button>
    <a href="https://github.com/davidholmesnyc/dmail" target="_blank">
      Download on Github
    </a>
    <a href="http://opensource.org/licenses/MIT" target="_blank">
     M.I.T Software License 
    </a>
    <a href="http://www.davidholmesnyc.com/" target="_blank" >
    Built By David Holmes NYC
    </a>
  </div>
</div>

</body>
</html>